<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
    <style>
    body{
    background-color: #53c68c
    }

    </style>
</head>
<body>

         <center>
                 <h2 style="background-color:powderblue;">အခုလို မေးခွန်းများကို စိတ်ရှည်လက်ရှည် ဖြေကြားပေးသော လူကြီးမင်းအား အထူးကျေးဇူးတင်ပါသည်ခင်ဗျာ။ </h2>
                  <div class="col-sm-8">
                    <img src="" alt=" "  width="400" />
                 </div>
             <br>
             <br>
            <a href="{{ url_for('home')}}" class="f90-logout-button">Logout</a>
        </center>





</body>
</html>